.banner {
    height: 370px;
}

.banner img {
    max-width: 1280px;
    margin: 0 auto;
    z-index: -1;
}

.banner .d-flex {
    max-width: 1280px;
     margin: 0 auto;
}
.banner .cart-banner {
    border: 2px solid #ccc;
}
.banner  .col-md-3 {
    padding: 2px;
}
.banner #button-center {
    top: -200px;
    right: 20px;
    z-index: 1;
}

