.menu-bar {
    display: none;
    position: fixed;
    top: calc(100% - 96%);
    width: 100%;
    margin: 20px auto;
    z-index: 3;
}
.menu-bar:hover {
    display: block;
}

.col-md-8 ul {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    list-style-type: none;
    padding: 0px;
    margin: 0;
}
.col-md-8 .col-md-3 {
    border-right: 2px solid #ccc;
}
.col-md-8 .col-md-9 {
    border-right: 2px solid #ccc;
    
}
.col-md-3:first-child li:hover {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    
}
.menu-bar .col-md-6 {
    display: flex;
    border-right: 2px solid #ccc;
    border-left: 2px solid #ccc;

}
.col-md-3:first-child li {
    display: flex;
    flex-direction: row;
    padding: 10px;
    color: #333;
    cursor: pointer;
}

li p {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 600;
}
li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.col-md-3:first-child  li:first-child {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}

/* hover default */
.col-md-8:has(li:first-child:hover) #laptop,#fridge,#tv {
    display: none;
}
.col-md-8:has(li:first-child:hover,#menu-right:hover) #default,#default:hover {
    display: block;
}
/* hover tv */
.col-md-8:has(li:nth-child(2):hover) #tv {
    display: block;
}
.col-md-8:has(li:nth-child(2):hover) #default {
    display: none;
}
.col-md-8:has(li:nth-child(3):hover) #laptop {
    display: block;

}
.col-md-8:has(li:nth-child(3):hover) #default {
    display: none;
}
.col-md-8:has(li:last-child:hover) #fridge {
    display: block;
}
.col-md-8:has(li:last-child:hover) #default {
    display: none;
}
#menu-right:hover {
    display: block;
} 
#laptop,#fridge,#tv,#tablet {
    display: none;}


#menu-right  img {
    height: 30px;
    }

#menu-right  a {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 100px;
    border-radius: 1rem;
    padding: 10px auto;
    border: 1px solid #ccc;
}